**/__pycache__/
**/.DS_Store
**/cg_lammps_output/
**/cg_lammps_trajectory/
**/cg_zif_imidzb11/
**/gulp/
**/salem2/
**/aSiO2/
**/.ipynb_checkpoints/
**/*.egg-info/
tests.py
sandpit.ipynb
new_net.ipynb
dist/
build/
site/
examples/
**/build/
**/7-framework-nodes.ipynb
**/8-decorating-sio2.ipynb
**/gulp-part-II.ipynb